@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@font-face {
  font-family: "DOCKER";
  src: url(../fonts/Docker\One.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

html {
  font-size: 8px;
}

.navigation {
  z-index: 9999;
  position: relative;
}

.navigation .logo {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
}

.navigation .navbar-nav {
  text-align: right;
}

.navigation .navbar-toggler {
  position: relative;
  right: 10px;
  top: -10px;
}

.navigation .navbar-toggler:focus {
  outline: none;
}

.navigation .navigation {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
}

.navigation .navbar-toggler-icon {
  font-size: 3rem;
}

.navbar-menu-image-background {
  position: absolute;
  top: 70px;
  right: 10px;
  width: 65px;
  height: 250px;
}

.content {
  position: relative;
  top: -290px;
  background-size: 1100px;
  background-repeat: no-repeat;
}

.content-header {
  background-image: url(../assets/background/header.png);
  height: 750px;
}

.content-main {
  top: -580px;
  background-image: url(../assets/background/main.png);
  height: 3000px;
}

.content-footer {
  top: -720px;
  background-image: url(../assets/background/footer.png);
  height: 200px;
}

.content-container {
  position: relative;
}

.content-container .header-content {
  padding: 40px;
  margin-top: 120px;
  position: relative;
  z-index: 1000;
}

.content-container .header-content-text {
  margin-top: 160px;
  font-size: 5.5rem;
  text-transform: uppercase;
  font-family: "Montserrat-Bold", sans-serif;
  color: #f59b00;
}

.content-container .header-content-description {
  margin-top: 16px;
  padding: 8px;
  font-size: 2.5rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: #919191;
  width: 400px;
}

.content-container .header-content .header-buttons {
  margin-top: 48px;
}

.content-container .header-content .header-buttons .button {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin-top: 16px;
  font-size: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: #ffff;
  border: none;
}

.content-container .header-content .header-buttons .button:focus {
  outline: none;
}

.content-container .header-content .header-buttons .button:hover {
  background-color: gray;
}

.content-container .header-content .header-buttons .button-install-telegram {
  background-color: #0a92ab;
}

.content-container .header-content .header-buttons .button-install-bot {
  background-color: #f59b00;
}

.content-container .image-right {
  position: relative;
  right: -24px;
  width: 300px;
  top: 80px;
  z-index: 10000;
}

.content-container .image-left {
  width: 236px;
  -webkit-transform: rotate(1.7deg);
          transform: rotate(1.7deg);
  position: relative;
  left: -96px;
  bottom: -8px;
}
/*# sourceMappingURL=style.css.map */