@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

@font-face {
  font-family: "DOCKER";
  src: url(../fonts/Docker\One.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

$fontSize: 8px;
$headerFont:'Montserrat-Bold',
sans-serif;
$mainFont: "Montserrat Alternates",
sans-serif;

//colors 
$mainColor: #f59b00;
$textColor: #919191;
$secondaryColor: #0a92ab;
$lightColor: #ffff;
$secondaryLight: #feca06;


.border {
  border: 10px solid $mainColor !important;
  border-radius: 25px;
  padding: 0 !important;
}

html {
  font-size: $fontSize;
  scroll-behavior: smooth;
}


.material-icons {
  position: relative;
  margin: 0;
  margin-top: 20px;
  top: -1px;
  margin-left: 20px;
  padding: 0;
  font-size: 2rem;
  color: $lightColor;

  &:hover {
    color: $textColor;
  }
}


//navigation
.navigation {
  z-index: 9999;
  position: relative;

  .logo {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: 10px;
    margin-top: 20px;
    margin-left: 0;
  }

  .navbar-nav {
    width: 600px;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    font-family: $mainFont;
    font-weight: normal;
    font-size: 1.8rem;
    background-color: $mainColor;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    .nav-item {
      margin: 15px;
      text-decoration: none;
      color: $lightColor;

      &:hover {
        color: $textColor;
      }
    }

  }

  .navbar-toggler {
    position: relative;
    right: 10px;
    top: -10px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .navigation {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
  }

  .navbar-toggler-icon {
    font-size: 3rem;
  }
}


//buttons
.button {
  display: inline-block;
  width: 25rem;
  height: 6rem;
  border-radius: 25px;
  margin-top: 16px;
  font-size: 2rem;
  font-family: $mainFont;
  color: $lightColor;
  border: none;
  box-shadow: 0 0 2px rgba($color: $secondaryColor, $alpha: 0.5);
  text-decoration: none;

  &:focus {
    outline: none;
  }


  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($color: #000000, $amount: 50);
    color: white;
  }

  &-install-telegram {
    background-color: $secondaryColor;
  }

  &-install-bot {
    background-color: $mainColor;
  }


  &-support {
    background-color: $secondaryLight;
    color: $secondaryColor;
  }
}



.content {
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &-header {
    background-image: url(../assets/background/header.png);
    height: fit-content;
    min-height: 500px;
    padding-bottom: 20px;


  
    .header-content {
      margin-top: 80px;
      
      position: relative;
      z-index: 1000;


      &-text {
        margin-top: 10px;
        font-size: 5.5rem;
        text-transform: uppercase;
        font-family: $headerFont;
        color: $mainColor;
      }

      &-description {
        margin-top: 16px;
        // padding: 8px;
        font-size: 2.5rem;
        font-family: $mainFont;
        color: $textColor;
      }

      .header-buttons {
        margin-top: 48px;
      }
    }

    .phone-images {
      position: relative;
      top: -9rem;
      width: 75rem;
    }

    .image {
      &-right {
        position: relative;
        top: 9rem;
        width: 40rem;
        z-index: 1000;
      }

      &-left {
        position: relative;
        width: 30rem;
        left: -12rem;
        top: -6rem;
      }

      &-one {
        position: relative;
        width: 35rem;
        left: 20rem;
        top: 1rem;
        margin-bottom: 50px;
        transform: rotate(5deg);
      }
    }

  }

  &-main {
    background-image: url(../assets/background/main.png);
    margin-bottom: 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    .botlogo {
      width: 20rem;
      display: inline-block;
    }


    .main-description {
      font-family: $mainFont;
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 2rem;
      color: $textColor;
    }

    .main-h1 {
      font-family: $headerFont;
      font-size: 4rem;
      text-align: center;
      margin-bottom: 50px;
      margin-top: 80px;
      color: $secondaryColor;
    }

    .information-container {
      margin-top: 20px;
      text-align: center;
      margin-bottom: 50px;

      .text-container {
        border: 1px solid $textColor;
        border-radius: 25px;
        height: 200px;
        padding: 20px;

        &:hover {
          border: 1px solid $secondaryColor;
          background-color: rgba($color: $secondaryColor, $alpha: 0.1);
          cursor: pointer;
          box-shadow: 0 0 10px rgba($color: $secondaryColor, $alpha: 0.1);
          ;
        }
      }

      &-img {
        width: 5rem;
        margin-bottom: 20px;
        text-align: center;

      }

      &-header {
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: $headerFont;
        font-size: 2rem;
        color: $textColor
      }

      &-description {
        margin-bottom: 10px;
        font-family: $mainFont;
        font-size: 1.8rem;
        color: $textColor
      }
    }

    .separator {
      margin-top: 100px;
      border-top: 1px solid $mainColor;

      &-header {
        margin-top: 50px;
      }
    }



    .text-area {
      margin-top: 100px;
      font-family: $mainFont;
      color: $textColor;

      &-header {
        font-size: 3rem;
        margin-bottom: 40px;
        font-family: $headerFont;

      }

      &-list {
        margin-bottom: 100px;
      }

      &-list-item {
        font-size: 2rem;
        margin-bottom: 50px;
      }
    }

    .video-area {
      position: relative;
      margin-top: 40px;
      top: -37.5rem;
      height: 75rem;

      &-video {
        position: relative;
        width: 31.7rem;
        top: 40.25rem;
        z-index: 1000;
        border-radius: 25px;
      }

      &-placeholder {
        position: relative;
        top: -31.25rem;
        width: 37.5rem;
      }

    }

    #accordion {
      box-shadow: none;
      border-radius: 25px;
      margin-bottom: 100px;
      margin-top: 50px;
      margin-left: 10px;
      margin-right: 10px;

      .accordeon-card-header {
        font-family: $headerFont;
        color: $secondaryColor;
      }

      .card-header {
        background-color: $secondaryColor;
        padding: 20px;
      }

      

      .card,
      .card-header {
        border-radius: 25px;
      }

      h5 {
        font-family: $headerFont;
        font-size: 2rem;

        a {
          text-decoration: none;
          color: white;
        }
      }

      p {
        font-family: $mainFont;
        font-size: 2rem;
        color: $textColor;
        margin: 10px;
      }
    }
  }

  &-footer {
    background-image: url(../assets/background/footer.png);
    margin-bottom: 20px;
    border-radius: 50px;

    .row {
      text-align: center;
    }

    .button-container {
      padding-top: 30px;

      // margin-left: 10%; 
      button {
        display: inline;
      }
    }


    .copyright {
      margin: 30px;
      font-family: $mainFont;
      font-size: 2rem;
      color: $textColor
    }


  }

}



//bottom menu 

.bottom-menu {
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  z-index: 2000;
  background-color: $mainColor;
}

.navbar-bottom {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}



.navbar-bottom-open {
  font-size: 5rem;
}

.navbar-nav-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  
}

.navbar-bottom-container {
background-color: $mainColor;
}

.bottom-nav-item {
  color: $secondaryColor;
  font-size: 3rem;
  font-family: $mainFont;
  line-height: 2;
 
  &:hover {
    color: $textColor;
  }
}


.navbar-toggler-bottom{
  border: none;
  display: block;
  margin-right: 2px;
font-size: 3rem;
&:focus {
  outline: none;
}
}


.material-icons-bottom {
  margin: 0;
  padding: 0;
  width: 20px;
  animation: spin 0.2s linear 0s normal;
}


.navbar-bottom-close {
  margin-right: 5px;
  font-size: 8rem;
  font-weight: 10;
  color:black;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  animation: spin 0.2s linear 0s normal;
}


@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(90deg);}
}




.hide {
  display: none;
}








//media


@media (min-width: 320px) {

  .container,
  .container-sm {
    max-width: 400px;
  }

  html {
    font-size: 5px;
  }

  html {
    font-size: 7px;
  }

  .image-left {
    display: none;
  }

  .image-right {
    display: none;
  }

  .image-one {
    display: none;
  }

  .nav-item {
    width: 100%;
  }

  #header-content-text {
    font-size: 3rem;
  }

  .header-content {
    margin-top: 0 !important;
  
  }

}


@media (min-width: 440px) {

  .container,
  .container-sm {
    max-width: 539px;
  }

  html {
    font-size: 7px;
  }

  .image-left {
    display: none;
  }

  .image-right {
    display: none;
  }

  .image-one {
    display: none;
  }

  .nav-item {
    width: 100%;
  }

  #header-content-text {
    font-size: 5.5rem;
  }


  .header-content {
    margin-top: 0 !important; 
  }

}



@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }

  html {
    font-size: 7px;
  }

  .image-left {
    display: none;
  }

  .image-right {
    display: none;
  }

  .image-one {
    display: none;
  }

  .nav-item {
    width: 100%;
  }


  #header-content-text {
    font-size: 5.5rem;
  }

  .header-content {
    margin-top: 0 !important;
  
  }

}

@media (min-width: 768px) {

  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }

  html {
    font-size: 7px;
  }

  .image-left {
    display: none;
  }

  .image-right {
    display: none;
  }

  .image-one {
    display: none;
  }

  .nav-item {
    width: 100%;
  }

  #header-content-text {
    font-size: 5.5rem;
  }

  .header-content {
    margin-top: 0 !important;

  }

}

@media (min-width: 992px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }

  html {
    font-size: 7px;
  }

  .image-left {
    display: none;
  }

  .image-right {
    display: none;
  }

  .image-one {
    display: block;
  }

  .nav-item {
    width: 100%;
  }

  #header-content-text {
    font-size: 5.5rem;
  }

  .header-content {
    margin-top: 80px !important;
    padding-top: 30px;

  }
  

}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }

  html {
    font-size: 8px;
  }

  .image-left {
    display: inline-block;
  }

  .image-right {
    display: inline-block;
    left: 0px;
  }

  .image-one {
    display: none;
  }

  .nav-item {
    width: auto;
  }

  #header-content-text {
    font-size: 5.5rem;
  }

  .header-content {
    margin-top: 80px !important;
    padding-top: 0px;
    margin-left: 30px;
  }
 
}